%li.product
  .image= link_to(image_tag(product.image_url(:medium)), product_path(product))
  %h3= link_to(product.name, product_path(product))
  =render partial: 'products/price', locals: {product: product}
